@media (min-width: 785px) {
    .formContainer > form {
        width: 600px;
    }
}

.contactsBlock {
    /*border: 1px solid darkblue;*/
    height: 100%;
}

.contactsContainer {
    display:flex;
    flex-direction: column;
}

.formContainer{
    display: flex;
    justify-content: center;
    border: 1px solid red;
    width: 100%;
    background-color: #222222;
}
