.contactsBlock {
    margin: 50px auto;
    border: 1px solid red;
    height: 100%;
    flex-direction: column;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.formContainer{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}