.SkillsBlock {
    margin: 50px auto;
    height: 100vh;
    flex-direction: column;
}

.title {
    margin: 50px;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
