@media (max-width: 1610px) and  (min-width: 538px){
    .skills {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

.SkillsBlock {
    margin: 50px auto;
    height: 100%;
    flex-direction: column;
    border: 1px solid darkblue;
}

.title {
    margin: 50px;
    border: 1px solid red;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid red;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid fuchsia;
}

.skills > a {
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid yellow;
}

.skills > a:hover {
    box-shadow: 0 14px 28px rgba(179, 163, 163, 0.25);
    transition: .1s;
    transform: translateY(-7px);
    cursor: pointer;
}