@media (max-width: 1680px) and  (min-width: 690px) {
    .skills {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

.SkillsBlock {
    height: 100%;
    flex-direction: column;
    /*border: 1px solid darkblue;*/
}

.title {
    margin: 50px;
    border: 1px solid red;
    background-color: #222222;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid red;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid fuchsia;
    background-color: #222222;
}

.skills > a {
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid yellow;
}

/*хз откуда полоска под блоком*/
.skills > a:hover {
    box-shadow: 0 14px 28px rgba(219, 189, 71, 0.25);
    transition: .1s;
    transform: translateY(-7px);
    cursor: pointer;
}