* {
    box-sizing: border-box;
    background-color: #9cacbf;
    flex-wrap: wrap;
}

/*@media (max-width: 600px) {*/
/*    .mainblock > img {*/
/*        width: 200px;*/
/*        height: 200px;*/
/*    }*/
/*}*/

h1, h2, h3, a, span {
    color: white;
    font-family: "Agency FB", sans-serif;
    background-color: #222222;
}


h2:before,
h2:after {
    /* Свойство content необходимо указывать хотя бы пустое, иначе псевдоэлементы не отобразятся */
    content: "";
    /* Свойства линий, выравнивание по центру по вертикали */
    display: inline-block;
    vertical-align: middle;
    /* Ширина - 100% и указываем толщину линии */
    width: 20%;
    height: 2px;
    /* Цвет линии */
    background-color: #f4d71a;
    /* Возможность для пседоэлементов изменить позицию линии */
    position: relative;
}

h2:before {
    /* Ставим левую линию слева от текста, смещая ее на 100% влево */
    margin-left: -20%;
    /* Отступ линии от заголовка */
    left: -14px;
}

h2:after {
    /* Ставим правую линию справа от текста, смещая ее на 100% вправо */
    margin-right: -20%;
    /* Отступ линии от заголовка */
    right: -14px;
}


p {
    background-color: #222222;
    color: #969BAA;
}

.page {
    border: 1px solid red;
    margin: 50px;
    background-color: #9cacbf;
}