* {
    box-sizing: border-box;
    background-color: #9cacbf;
    flex-wrap: wrap;
}

h1, h2, h3, a, span {
    color: white;
    font-family: "Agency FB", sans-serif;
    background-color: #222222;
}

p {
    background-color: #222222;
    color: #969BAA;
}

.page {
    border: 1px solid red;
    border-radius: 10px;
    margin: 50px;
    background-color: #9cacbf;
}