@media (max-width: 650px) {
    .mainBlock > .photoMainBlock img {
        width: 200px;
        height: 200px; /* Ширина и высота */
    }
}
@media (max-width: 430px) {
    .mainBlock > .photoMainBlock img {
        width: 150px;
        height: 150px; /* Ширина и высота */
    }
}

.mainBlock {
    border: 1px solid darkblue;
    height: 75vh;
}

.informationMainBlock {
    width: 400px;
    border: 1px solid red;
    background-color: #222222;
    padding: 10px;
}

.informationMainBlock > span {
    color: #969BAA;
    background-color: #222222;
}

.photoMainBlock {
    /*border-radius: 10px;*/
    background-color: #222222;
}

.photoMainBlock > img {
    width: 400px;
    height: 400px; /* Ширина и высота */
    border-radius: 50%; /* Превращаем в круг */
    border: 3px solid darkgrey; /* Параметры рамки */
    box-shadow: 0 0 20px black; /* Параметры тени */
}