@media (max-width: 392px) {
    .footerContacts {
        flex-direction: column;
    }
}

.footerContacts {
    /*border: 1px solid darkblue;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #222222;
}
.footerTitle{
    background-color: #222222;
}
.contacts{
    background-color: #222222;
}

.contacts > a {
    height: 100%;
}

.contacts > a > img {
    margin: 10px;
    width: 30px;
    height: 30px;
    background-color: #222222;
}

.contacts > a > img:hover {
    transition: .1s;
    transform: translateY(-2px);
    cursor: pointer;
}

