@media (max-width: 1680px) and  (min-width: 690px) {
    .projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

.projectsBlock {
    border: 1px solid darkblue;
    height: 100%;
    flex-direction: column;
}

.title {
    margin: 50px;
    border: 1px solid red;
    background-color: #222222;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid red;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid fuchsia;
    background-color: #222222;

}